In [17]:
import pandas as pd
import csv
from glob import glob

In [18]:
qtrOne_2016 = pd.read_csv('./data-milestraveled2016_1Q.csv')
qtrTwo_2016 = pd.read_csv('./data-milestraveled2016_2Q.csv')
qtrThree_2016 = pd.read_csv('./data-milestraveled2016_3Q.csv')
qtrFour_2016 = pd.read_csv('./data-milestraveled2016_4Q.csv')

In [19]:
df_2016 = sorted(glob('./data-milestraveled2016_*.csv'))
df_2016

['./data-milestraveled2016_1Q.csv',
 './data-milestraveled2016_2Q.csv',
 './data-milestraveled2016_3Q.csv',
 './data-milestraveled2016_4Q.csv']

In [20]:
df_2016 = pd.concat((pd.read_csv(file, encoding = "ISO-8859-1").assign(filename = file)
          for file in df_2016), ignore_index = True, sort = False)
df_2016

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),filename,3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/16,11009,24371025,24429,44606414,159362,919,51.0,./data-milestraveled2016_1Q.csv,NaN
1,1/2/16,14587,24385612,29093,44635507,159403,877,34.0,./data-milestraveled2016_1Q.csv,NaN
2,1/3/16,15499,24401111,29616,44665123,159459,784,27.0,./data-milestraveled2016_1Q.csv,NaN
3,1/4/16,19593,24420704,36172,44701295,159502,166,33.0,./data-milestraveled2016_1Q.csv,NaN
4,1/5/16,18053,24438757,32049,44733344,159534,121,22.0,./data-milestraveled2016_1Q.csv,NaN
5,1/6/16,24569,24463326,40996,44774340,159564,265,27.0,./data-milestraveled2016_1Q.csv,NaN
6,1/7/16,27773,24491099,45986,44820326,159588,318,24.0,./data-milestraveled2016_1Q.csv,NaN
7,1/8/16,28709,24519808,47061,44867387,159621,364,28.0,./data-milestraveled2016_1Q.csv,NaN
8,1/9/16,20846,24540654,37341,44904728,159654,632,20.0,./data-milestraveled2016_1Q.csv,NaN
9,1/10/16,14275,24554929,25404,44930132,159682,391,18.0,./data-milestraveled2016_1Q.csv,NaN
10,1/11/16,22937,24577866,37393,44967525,159731,155,32.0,./data-milestraveled2016_1Q.csv,NaN
11,1/12/16,25211,24603077,38958,45006483,159761,151,23.0,./data-milestraveled2016_1Q.csv,NaN
12,1/13/16,21133,24624210,31608,45038091,159792,82,15.0,./data-milestraveled2016_1Q.csv,NaN
13,1/14/16,23780,24647990,37295,45075386,159813,123,29.0,./data-milestraveled2016_1Q.csv,NaN
14,1/15/16,28435,24676425,45993,45121379,159841,379,27.0,./data-milestraveled2016_1Q.csv,NaN
15,1/16/16,19178,24695603,35791,45157170,159885,803,37.0,./data-milestraveled2016_1Q.csv,NaN
16,1/17/16,12024,24707627,20487,45177657,159910,387,22.0,./data-milestraveled2016_1Q.csv,NaN
17,1/18/16,12718,24720345,19998,45197655,159931,123,13.0,./data-milestraveled2016_1Q.csv,NaN
18,1/19/16,17281,24737626,26966,45224621,159957,64,12.0,./data-milestraveled2016_1Q.csv,NaN
19,1/20/16,23419,24761045,35477,45260098,159972,126,11.0,./data-milestraveled2016_1Q.csv,NaN
20,1/21/16,23671,24784716,36048,45296146,159991,133,15.0,./data-milestraveled2016_1Q.csv,NaN
21,1/22/16,20950,24805666,31344,45327490,160004,115,6.0,./data-milestraveled2016_1Q.csv,NaN
22,1/23/16,0,24805666,0,45327490,160005,0,0.0,./data-milestraveled2016_1Q.csv,NaN
23,1/24/16,0,24805666,0,45327490,160013,0,0.0,./data-milestraveled2016_1Q.csv,NaN
24,1/25/16,0,24805666,0,45327490,160020,0,0.0,./data-milestraveled2016_1Q.csv,NaN
25,1/26/16,0,24805666,0,45327490,160028,0,0.0,./data-milestraveled2016_1Q.csv,NaN
26,1/27/16,6760,24812426,13698,45341188,160039,54,6.0,./data-milestraveled2016_1Q.csv,NaN
27,1/28/16,11944,24824370,22314,45363502,160053,81,9.0,./data-milestraveled2016_1Q.csv,NaN
28,1/29/16,16028,24840398,26896,45390398,160064,118,27.0,./data-milestraveled2016_1Q.csv,NaN
29,1/30/16,12964,24853362,23350,45413748,160084,328,23.0,./data-milestraveled2016_1Q.csv,NaN
...,...,...,...,...,...,...,...,...,...,...
336,12/2/16,42358,\t37475411,89092,\t73422008,205794,440,NaN,./data-milestraveled2016_4Q.csv,52.0
337,12/3/16,29853,\t37505264,70853,\t73492861,205824,854,NaN,./data-milestraveled2016_4Q.csv,58.0
338,12/4/16,27454,\t37532718,71729,\t73564590,205857,930,NaN,./data-milestraveled2016_4Q.csv,28.0
339,12/5/16,35927,\t37568645,80214,\t73644804,205897,278,NaN,./data-milestraveled2016_4Q.csv,38.0
340,12/6/16,33325,\t37601970,67187,\t73711991,205939,228,NaN,./data-milestraveled2016_4Q.csv,26.0
341,12/7/16,38010,\t37639980,76605,\t73788596,205967,270,NaN,./data-milestraveled2016_4Q.csv,18.0
342,12/8/16,39621,\t37679601,72219,\t73860815,205998,235,NaN,./data-milestraveled2016_4Q.csv,23.0
343,12/9/16,33540,\t37713141,63950,\t73924765,206021,214,NaN,./data-milestraveled2016_4Q.csv,31.0
344,12/10/16,22379,37735520,52716,73977481,206033,490,NaN,./data-milestraveled2016_4Q.csv,20.0
345,12/11/16,17798,\t37753318,41740,\t74019221,206049,287,NaN,./data-milestraveled2016_4Q.csv,6.0
346,12/12/16,29035,\t37782353,58701,\t74077922,206066,175,NaN,./data-milestraveled2016_4Q.csv,14.0
347,12/13/16,39023,\t37821376,68858,\t74146780,206090,299,NaN,./data-milestraveled2016_4Q.csv,21.0
348,12/14/16,37799,\t37859175,71798,\t74218578,206130,257,NaN,./data-milestraveled2016_4Q.csv,16.0
349,12/15/16,25002,\t37884177,45840,\t74264418,206145,80,NaN,./data-milestraveled2016_4Q.csv,13.0
350,12/16/16,24484,\t37908661,48288,\t74312706,206171,139,NaN,./data-milestraveled2016_4Q.csv,11.0
351,12/17/16,6993,\t37915654,22363,\t74335069,206176,36,NaN,./data-milestraveled2016_4Q.csv,7.0
352,12/18/16,16295,\t37931949,38459,\t74373528,206200,168,NaN,./data-milestraveled2016_4Q.csv,14.0
353,12/19/16,25648,\t37957597,50405,\t74423933,206225,119,NaN,./data-milestraveled2016_4Q.csv,12.0
354,12/20/16,27677,\t37985274,50408,\t74474341,206250,202,NaN,./data-milestraveled2016_4Q.csv,22.0
355,12/21/16,30611,\t38015885,55746,\t74530087,206270,244,NaN,./data-milestraveled2016_4Q.csv,20.0
356,12/22/16,30874,\t38046759,56441,\t74586528,206293,302,NaN,./data-milestraveled2016_4Q.csv,18.0
357,12/23/16,26335,\t38073094,53318,\t74639846,206320,399,NaN,./data-milestraveled2016_4Q.csv,27.0
358,12/24/16,8014,38081108,28033,\t74667879,206334,147,NaN,./data-milestraveled2016_4Q.csv,10.0
359,12/25/16,9919,38091027,38209,\t74706088,206369,1052,NaN,./data-milestraveled2016_4Q.csv,43.0
360,12/26/16,10774,\t38101801,32446,\t74738534,206400,315,NaN,./data-milestraveled2016_4Q.csv,27.0
361,12/27/16,25946,\t38127747,61379,\t74799913,206450,960,NaN,./data-milestraveled2016_4Q.csv,68.0
362,12/28/16,23596,\t38151343,52937,\t74852850,206476,619,NaN,./data-milestraveled2016_4Q.csv,38.0
363,12/29/16,13202,\t38164545,29631,\t74882481,206503,104,NaN,./data-milestraveled2016_4Q.csv,8.0
364,12/30/16,21366,\t38185911,45743,\t74928224,206543,641,NaN,./data-milestraveled2016_4Q.csv,49.0
365,12/31/16,15925,\t38201836,46810,\t74975034,206585,798,NaN,./data-milestraveled2016_4Q.csv,33.0

In [21]:
qtrOne_2017 = pd.read_csv('./data-milestraveled2017_1Q.csv')
qtrTwo_2017 = pd.read_csv('./data-milestraveled2017_2Q.csv')
qtrThree_2017 = pd.read_csv('./data-milestraveled2017_3Q.csv')
qtrFour_2017 = pd.read_csv('./data-milestraveled2017_4Q.csv')

In [22]:
df_2017 = sorted(glob('./data-milestraveled2017_*.csv'))
df_2017

['./data-milestraveled2017_1Q.csv',
 './data-milestraveled2017_2Q.csv',
 './data-milestraveled2017_3Q.csv',
 './data-milestraveled2017_4Q.csv']

In [24]:
df_2017 = pd.concat((pd.read_csv(file, encoding = "ISO-8859-1").assign(filename = file)
          for file in df_2017), ignore_index = True, sort = False)
df_2017

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),filename
0,1/1/17,16009,50761,206624,1237,33,./data-milestraveled2017_1Q.csv
1,1/2/17,8921,21545,206675,142,15,./data-milestraveled2017_1Q.csv
2,1/3/17,14198,25879,206728,42,15,./data-milestraveled2017_1Q.csv
3,1/4/17,34039,69966,206778,475,29,./data-milestraveled2017_1Q.csv
4,1/5/17,28393,52446,206845,214,17,./data-milestraveled2017_1Q.csv
5,1/6/17,24177,48964,206879,157,17,./data-milestraveled2017_1Q.csv
6,1/7/17,4425,23556,206892,21,4,./data-milestraveled2017_1Q.csv
7,1/8/17,6417,22756,206907,27,2,./data-milestraveled2017_1Q.csv
8,1/9/17,15856,35209,206933,30,2,./data-milestraveled2017_1Q.csv
9,1/10/17,23232,46216,206955,67,12,./data-milestraveled2017_1Q.csv
10,1/11/17,32419,63099,206981,208,37,./data-milestraveled2017_1Q.csv
11,1/12/17,39783,84763,207021,479,30,./data-milestraveled2017_1Q.csv
12,1/13/17,33611,75847,207059,373,43,./data-milestraveled2017_1Q.csv
13,1/14/17,13819,43090,207087,252,33,./data-milestraveled2017_1Q.csv
14,1/15/17,17384,50738,207120,476,19,./data-milestraveled2017_1Q.csv
15,1/16/17,24110,51664,207163,448,30,./data-milestraveled2017_1Q.csv
16,1/17/17,18646,40697,207198,63,15,./data-milestraveled2017_1Q.csv
17,1/18/17,30857,57978,207224,146,17,./data-milestraveled2017_1Q.csv
18,1/19/17,36561,72077,207262,391,27,./data-milestraveled2017_1Q.csv
19,1/20/17,26752,56479,207288,184,19,./data-milestraveled2017_1Q.csv
20,1/21/17,26610,64662,207336,957,31,./data-milestraveled2017_1Q.csv
21,1/22/17,20523,49368,207368,520,25,./data-milestraveled2017_1Q.csv
22,1/23/17,15822,37687,207399,54,20,./data-milestraveled2017_1Q.csv
23,1/24/17,13171,35619,207414,28,5,./data-milestraveled2017_1Q.csv
24,1/25/17,36931,71418,207453,301,29,./data-milestraveled2017_1Q.csv
25,1/26/17,33002,63750,207501,223,28,./data-milestraveled2017_1Q.csv
26,1/27/17,32394,70189,207540,231,23,./data-milestraveled2017_1Q.csv
27,1/28/17,21302,53955,207567,402,25,./data-milestraveled2017_1Q.csv
28,1/29/17,22527,62854,207620,585,26,./data-milestraveled2017_1Q.csv
29,1/30/17,29616,59975,207673,163,32,./data-milestraveled2017_1Q.csv
...,...,...,...,...,...,...,...
335,12/2/17,38922,83660,252514,1513,100,./data-milestraveled2017_4Q.csv
336,12/3/17,33728,77915,252561,1037,66,./data-milestraveled2017_4Q.csv
337,12/4/17,49630,92142,252618,649,63,./data-milestraveled2017_4Q.csv
338,12/5/17,41792,85008,252686,381,57,./data-milestraveled2017_4Q.csv
339,12/6/17,46335,87328,252724,368,55,./data-milestraveled2017_4Q.csv
340,12/7/17,45367,94653,252761,427,65,./data-milestraveled2017_4Q.csv
341,12/8/17,41330,81217,252791,443,58,./data-milestraveled2017_4Q.csv
342,12/9/17,10804,20955,252811,112,15,./data-milestraveled2017_4Q.csv
343,12/10/17,19815,43621,252830,287,26,./data-milestraveled2017_4Q.csv
344,12/11/17,41838,81071,252869,456,38,./data-milestraveled2017_4Q.csv
345,12/12/17,42620,88499,252915,262,42,./data-milestraveled2017_4Q.csv
346,12/13/17,32623,60051,252942,155,20,./data-milestraveled2017_4Q.csv
347,12/14/17,27494,49648,252960,134,10,./data-milestraveled2017_4Q.csv
348,12/15/17,22944,41598,252980,130,9,./data-milestraveled2017_4Q.csv
349,12/16/17,19060,38766,252992,240,24,./data-milestraveled2017_4Q.csv
350,12/17/17,22403,49790,253011,343,27,./data-milestraveled2017_4Q.csv
351,12/18/17,40168,79914,253054,409,34,./data-milestraveled2017_4Q.csv
352,12/19/17,49503,97301,253087,541,42,./data-milestraveled2017_4Q.csv
353,12/20/17,41461,78833,253142,422,40,./data-milestraveled2017_4Q.csv
354,12/21/17,37592,70297,253180,386,47,./data-milestraveled2017_4Q.csv
355,12/22/17,34338,62387,253212,506,23,./data-milestraveled2017_4Q.csv
356,12/23/17,9608,24205,253228,112,10,./data-milestraveled2017_4Q.csv
357,12/24/17,13215,37985,253250,492,39,./data-milestraveled2017_4Q.csv
358,12/25/17,6479,26767,253293,439,27,./data-milestraveled2017_4Q.csv
359,12/26/17,14113,32919,253324,220,29,./data-milestraveled2017_4Q.csv
360,12/27/17,16365,31793,253346,234,33,./data-milestraveled2017_4Q.csv
361,12/28/17,13419,34438,253365,121,17,./data-milestraveled2017_4Q.csv
362,12/29/17,13759,29284,253395,177,17,./data-milestraveled2017_4Q.csv
363,12/30/17,5956,13910,253407,53,10,./data-milestraveled2017_4Q.csv
364,12/31/17,6569,18326,253443,94,2,./data-milestraveled2017_4Q.csv

In [25]:
qtrOne_2018 = pd.read_csv('./data-milestraveled2018_1Q.csv')
qtrTwo_2018 = pd.read_csv('./data-milestraveled2018_2Q.csv')
qtrThree_2018 = pd.read_csv('./data-milestraveled2018_3Q.csv')
qtrFour_2018 = pd.read_csv('./data-milestraveled2018_4Q.csv')

In [26]:
df_2018 = sorted(glob('./data-milestraveled2018_*.csv'))
df_2018

['./data-milestraveled2018_1Q.csv',
 './data-milestraveled2018_2Q.csv',
 './data-milestraveled2018_3Q.csv',
 './data-milestraveled2018_4Q.csv']

In [27]:
df_2018 = pd.concat((pd.read_csv(file, encoding = "ISO-8859-1").assign(filename = file)
          for file in df_2018), ignore_index = True, sort = False)
df_2018

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),filename
0,1/1/18,5499,11483,253490,123,7,./data-milestraveled2018_1Q.csv
1,1/2/18,18818,39352,253558,125,12,./data-milestraveled2018_1Q.csv
2,1/3/18,24299,42853,253591,164,4,./data-milestraveled2018_1Q.csv
3,1/4/18,1922,5328,253604,2,1,./data-milestraveled2018_1Q.csv
4,1/5/18,4972,14303,253614,14,0,./data-milestraveled2018_1Q.csv
5,1/6/18,4294,9479,253624,9,2,./data-milestraveled2018_1Q.csv
6,1/7/18,5640,9387,253640,41,4,./data-milestraveled2018_1Q.csv
7,1/8/18,15820,31294,253661,45,4,./data-milestraveled2018_1Q.csv
8,1/9/18,25090,50981,253690,112,17,./data-milestraveled2018_1Q.csv
9,1/10/18,28252,50218,253720,142,18,./data-milestraveled2018_1Q.csv
10,1/11/18,33961,66584,253757,244,15,./data-milestraveled2018_1Q.csv
11,1/12/18,22252,46403,253786,152,16,./data-milestraveled2018_1Q.csv
12,1/13/18,17758,30418,253809,355,31,./data-milestraveled2018_1Q.csv
13,1/14/18,12394,32949,253827,183,9,./data-milestraveled2018_1Q.csv
14,1/15/18,17637,41770,253857,150,8,./data-milestraveled2018_1Q.csv
15,1/16/18,30278,60053,253895,189,13,./data-milestraveled2018_1Q.csv
16,1/17/18,19010,36319,253921,52,12,./data-milestraveled2018_1Q.csv
17,1/18/18,27662,52573,253952,92,18,./data-milestraveled2018_1Q.csv
18,1/19/18,30525,50322,253983,216,15,./data-milestraveled2018_1Q.csv
19,1/20/18,28507,59336,254025,1044,41,./data-milestraveled2018_1Q.csv
20,1/21/18,27908,61571,254092,1013,26,./data-milestraveled2018_1Q.csv
21,1/22/18,36864,68638,254144,345,25,./data-milestraveled2018_1Q.csv
22,1/23/18,28796,63693,254191,179,19,./data-milestraveled2018_1Q.csv
23,1/24/18,36078,69596,254236,232,32,./data-milestraveled2018_1Q.csv
24,1/25/18,31147,51927,254263,181,16,./data-milestraveled2018_1Q.csv
25,1/26/18,33073,61857,254301,313,23,./data-milestraveled2018_1Q.csv
26,1/27/18,34348,70146,254368,1415,41,./data-milestraveled2018_1Q.csv
27,1/28/18,20100,38221,254415,334,22,./data-milestraveled2018_1Q.csv
28,1/29/18,36799,68868,254466,274,33,./data-milestraveled2018_1Q.csv
29,1/30/18,27996,59260,254492,114,15,./data-milestraveled2018_1Q.csv
...,...,...,...,...,...,...,...
335,12/2/18,18418,26501,296584,554,11,./data-milestraveled2018_4Q.csv
336,12/3/18,53974,85524,296664,1308,62,./data-milestraveled2018_4Q.csv
337,12/4/18,49058,71843,296708,867,27,./data-milestraveled2018_4Q.csv
338,12/5/18,46779,67536,296753,814,38,./data-milestraveled2018_4Q.csv
339,12/6/18,46543,66885,296798,910,40,./data-milestraveled2018_4Q.csv
340,12/7/18,43841,63353,296843,948,52,./data-milestraveled2018_4Q.csv
341,12/8/18,29909,44552,296867,1271,46,./data-milestraveled2018_4Q.csv
342,12/9/18,27547,40886,296897,1064,23,./data-milestraveled2018_4Q.csv
343,12/10/18,43358,62699,296938,762,25,./data-milestraveled2018_4Q.csv
344,12/11/18,47335,68321,296974,823,20,./data-milestraveled2018_4Q.csv
345,12/12/18,47717,68600,297005,748,28,./data-milestraveled2018_4Q.csv
346,12/13/18,40736,57295,297042,593,14,./data-milestraveled2018_4Q.csv
347,12/14/18,44775,66633,297078,1137,44,./data-milestraveled2018_4Q.csv
348,12/15/18,36423,57244,297119,1902,45,./data-milestraveled2018_4Q.csv
349,12/16/18,9835,13599,297131,203,4,./data-milestraveled2018_4Q.csv
350,12/17/18,45382,66449,297173,909,32,./data-milestraveled2018_4Q.csv
351,12/18/18,41703,58360,297205,656,22,./data-milestraveled2018_4Q.csv
352,12/19/18,44096,63165,297238,877,22,./data-milestraveled2018_4Q.csv
353,12/20/18,34026,48713,297269,751,20,./data-milestraveled2018_4Q.csv
354,12/21/18,23996,34450,297290,481,24,./data-milestraveled2018_4Q.csv
355,12/22/18,24870,36653,297327,1088,25,./data-milestraveled2018_4Q.csv
356,12/23/18,22230,35921,297355,1298,37,./data-milestraveled2018_4Q.csv
357,12/24/18,18990,27246,297387,681,18,./data-milestraveled2018_4Q.csv
358,12/25/18,11177,21483,297426,1080,38,./data-milestraveled2018_4Q.csv
359,12/26/18,25358,39176,297487,1118,49,./data-milestraveled2018_4Q.csv
360,12/27/18,31169,48943,297527,1510,51,./data-milestraveled2018_4Q.csv
361,12/28/18,12039,17576,297555,334,25,./data-milestraveled2018_4Q.csv
362,12/29/18,29037,54116,297622,2677,104,./data-milestraveled2018_4Q.csv
363,12/30/18,22536,37741,297682,1562,51,./data-milestraveled2018_4Q.csv
364,12/31/18,18936,29794,297748,962,31,./data-milestraveled2018_4Q.csv

In [28]:
df_2016.to_csv('./2016_milestraveled.csv', index=False)
df_2017.to_csv('./2017_milestraveled.csv', index=False)
df_2018.to_csv('./2018_milestraveled.csv', index=False)

In [29]:
qtrOne_2015 = pd.read_csv('./data-milestraveled2015_1Q.csv')
qtrTwo_2015 = pd.read_csv('./data-milestraveled2015_2Q.csv')
qtrThree_2015 = pd.read_csv('./data-milestraveled2015_3Q.csv')
qtrFour_2015 = pd.read_csv('./data-milestraveled2015_4Q.csv')

In [30]:
df_2015 = sorted(glob('./data-milestraveled2015_*.csv'))
df_2015

['./data-milestraveled2015_1Q.csv',
 './data-milestraveled2015_2Q.csv',
 './data-milestraveled2015_3Q.csv',
 './data-milestraveled2015_4Q.csv']

In [31]:
df_2015 = pd.concat((pd.read_csv(file, encoding = "ISO-8859-1").assign(filename = file)
          for file in df_2015), ignore_index = True, sort = False)
df_2015

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),filename,Cumulative trips (since launch),Miles traveled to date,Total Annual Memberships Sold
0,1/1/15,5792,15216843.0,9191,26055797.0,127279.0,267,11,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
1,1/2/15,12371,15229214.0,18222,26074019.0,127293.0,298,8,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
2,1/3/15,4834,15234048.0,6282,26080301.0,127300.0,96,7,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
3,1/4/15,8509,15242557.0,11700,26092001.0,127308.0,152,5,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
4,1/5/15,15792,15258349.0,20022,26112023.0,127336.0,88,12,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
5,1/6/15,9483,15267832.0,12003,26124026.0,127354.0,2,1,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
6,1/7/15,10685,15278517.0,12791,26136817.0,127363.0,5,1,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
7,1/8/15,9777,15288294.0,11667,26148484.0,127372.0,18,0,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
8,1/9/15,8631,15296925.0,11093,26159577.0,127376.0,16,2,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
9,1/10/15,6826,15303751.0,8189,26167766.0,127383.0,51,3,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
10,1/11/15,8204,15311955.0,10199,26177965.0,127395.0,68,8,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
11,1/12/15,9441,15321396.0,11589,26189554.0,127408.0,27,2,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
12,1/13/15,14134,15335530.0,17429,26206983.0,127418.0,23,10,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
13,1/14/15,14396,15349926.0,18105,26225088.0,127427.0,43,7,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
14,1/15/15,15463,15365389.0,19803,26244891.0,127434.0,64,8,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
15,1/16/15,15059,15380448.0,19084,26263975.0,127441.0,94,14,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
16,1/17/15,8243,15388691.0,10818,26274793.0,127453.0,152,3,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
17,1/18/15,2038,15390729.0,2435,26277228.0,127461.0,12,0,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
18,1/19/15,11913,15402642.0,15733,26292961.0,127470.0,124,11,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
19,1/20/15,17615,15420257.0,22740,26315701.0,127502.0,93,9,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
20,1/21/15,16734,15436991.0,21228,26336929.0,127520.0,67,16,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
21,1/22/15,17435,15454426.0,22630,26359559.0,127530.0,74,9,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
22,1/23/15,17080,15471506.0,22248,26381807.0,127545.0,95,14,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
23,1/24/15,5275,15476781.0,6723,26388530.0,127552.0,41,2,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
24,1/25/15,10235,15487016.0,14421,26402951.0,127559.0,202,4,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
25,1/26/15,4537,15491553.0,5979,26408930.0,127566.0,15,0,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
26,1/27/15,1405,15492958.0,2343,26411273.0,127569.0,36,1,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
27,1/28/15,6223,15499181.0,9907,26421180.0,127575.0,12,2,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
28,1/29/15,9845,15509026.0,14171,26435351.0,127586.0,31,3,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
29,1/30/15,9943,15518969.0,12945,26448296.0,127595.0,21,6,./data-milestraveled2015_1Q.csv,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
335,12/2/15,23782,23598049.0,39484,43067087.0,158096.0,138,29,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
336,12/3/15,33917,23631966.0,59184,43126271.0,158130.0,348,42,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
337,12/4/15,34737,23666703.0,61717,43187988.0,158157.0,549,60,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
338,12/5/15,26355,23693058.0,56227,43244215.0,158183.0,1638,66,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
339,12/6/15,24942,23718000.0,52485,43296700.0,158214.0,1321,53,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
340,12/7/15,34139,23752139.0,60929,43357629.0,158251.0,554,84,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
341,12/8/15,35614,23787753.0,59619,43417248.0,158284.0,411,69,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
342,12/9/15,35305,23823058.0,59954,43477202.0,158317.0,355,33,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
343,12/10/15,39099,23862157.0,69925,43547127.0,158357.0,638,67,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
344,12/11/15,39059,23901216.0,72153,43619280.0,158388.0,822,63,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
345,12/12/15,31956,23933172.0,68858,43688138.0,158427.0,2192,51,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
346,12/13/15,32001,23965173.0,72863,43761001.0,158468.0,2470,68,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
347,12/14/15,32518,23997691.0,57195,43818196.0,158529.0,606,56,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
348,12/15/15,38660,24036351.0,67753,43885949.0,158572.0,606,54,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
349,12/16/15,35643,24071994.0,61011,43946960.0,158617.0,436,50,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
350,12/17/15,21960,24093954.0,35033,43981993.0,158643.0,120,26,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
351,12/18/15,30699,24124653.0,51270,44033263.0,158671.0,384,38,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
352,12/19/15,17776,24142429.0,30995,44064258.0,158692.0,527,31,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
353,12/20/15,17029,24159458.0,30624,44094882.0,158732.0,604,36,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
354,12/21/15,29800,24189258.0,54373,44149255.0,158772.0,494,29,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
355,12/22/15,22941,24212199.0,39410,44188665.0,158793.0,274,26,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
356,12/23/15,14817,24227016.0,28228,44216893.0,158825.0,172,19,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
357,12/24/15,18445,24245461.0,35231,44252124.0,158844.0,660,64,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
358,12/25/15,12331,24257792.0,37829,44289953.0,158883.0,2171,84,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
359,12/26/15,13912,24271704.0,30690,44320643.0,158933.0,1021,96,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
360,12/27/15,13176,24284880.0,30096,44350739.0,158993.0,1064,83,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
361,12/28/15,18889,24303769.0,39889,44390628.0,159046.0,756,69,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
362,12/29/15,13347,24317116.0,24451,44415079.0,159081.0,211,36,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
363,12/30/15,22476,24339592.0,43736,44458815.0,159148.0,888,57,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN
364,12/31/15,20375,24359967.0,40032,44498847.0,159215.0,1072,54,./data-milestraveled2015_4Q.csv,NaN,NaN,NaN

In [32]:
qtrOne_2014 = pd.read_csv('./data-milestraveled2014_1Q.csv')
qtrTwo_2014 = pd.read_csv('./data-milestraveled2014_2Q.csv')
qtrThree_2014 = pd.read_csv('./data-milestraveled2014_3Q.csv')
qtrFour_2014 = pd.read_csv('./data-milestraveled2014_4Q.csv')

In [33]:
df_2014 = sorted(glob('./data-milestraveled2014_*.csv'))
df_2014

['./data-milestraveled2014_1Q.csv',
 './data-milestraveled2014_2Q.csv',
 './data-milestraveled2014_3Q.csv',
 './data-milestraveled2014_4Q.csv']

In [34]:
df_2014 = pd.concat((pd.read_csv(file, encoding = "ISO-8859-1").assign(filename = file)
          for file in df_2014), ignore_index = True, sort = False)
df_2014

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members,Annual Member Sign-Ups (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm),7-Day Passes Purchased (midnight to 11:59 pm),filename,Total Annual Memberships Sold
0,1/1/14,6559,6323722,9.254,"11,243,581",95971.0,29,268,10,./data-milestraveled2014_1Q.csv,NaN
1,1/2/14,9334,6333056,11.736,"11,255,317",96000.0,42,66,3,./data-milestraveled2014_1Q.csv,NaN
2,1/3/14,1288,6334344,1.855,"11,257,172",96042.0,23,1,1,./data-milestraveled2014_1Q.csv,NaN
3,1/4/14,2494,6336838,3.706,"11,260,878",96065.0,19,14,1,./data-milestraveled2014_1Q.csv,NaN
4,1/5/14,2937,6339775,3.720,"11,264,598",96084.0,18,17,4,./data-milestraveled2014_1Q.csv,NaN
5,1/6/14,10481,6350256,13.016,"11,277,613",96102.0,22,30,7,./data-milestraveled2014_1Q.csv,NaN
6,1/7/14,7144,6357400,8.200,"11,285,814",96124.0,28,5,4,./data-milestraveled2014_1Q.csv,NaN
7,1/8/14,10162,6367562,11.768,"11,297,582",96152.0,19,28,4,./data-milestraveled2014_1Q.csv,NaN
8,1/9/14,14571,6382133,18.401,"11,315,983",96171.0,18,74,10,./data-milestraveled2014_1Q.csv,NaN
9,1/10/14,10685,6392818,13.433,"11,329,416",96189.0,36,49,5,./data-milestraveled2014_1Q.csv,NaN
10,1/11/14,8333,6401151,10.735,"11,340,151",96225.0,22,101,16,./data-milestraveled2014_1Q.csv,NaN
11,1/12/14,13549,6414700,19.141,"11,359,291",96247.0,29,350,22,./data-milestraveled2014_1Q.csv,NaN
12,1/13/14,22377,6437077,30.829,"11,390,121",96276.0,72,224,31,./data-milestraveled2014_1Q.csv,NaN
13,1/14/14,10849,6447926,13.271,"11,403,392",96348.0,43,45,4,./data-milestraveled2014_1Q.csv,NaN
14,1/15/14,23500,6471426,32.303,"11,435,695",96391.0,62,241,30,./data-milestraveled2014_1Q.csv,NaN
15,1/16/14,21528,6492954,28.807,"11,464,502",96453.0,56,208,37,./data-milestraveled2014_1Q.csv,NaN
16,1/17/14,21840,6514794,30.773,"11,495,275",96509.0,67,282,34,./data-milestraveled2014_1Q.csv,NaN
17,1/18/14,10222,6525016,14.596,"11,509,870",96576.0,40,176,15,./data-milestraveled2014_1Q.csv,NaN
18,1/19/14,9768,6534784,13.591,"11,523,461",96616.0,38,194,13,./data-milestraveled2014_1Q.csv,NaN
19,1/20/14,14581,6549365,20.103,"11,543,564",96654.0,47,133,11,./data-milestraveled2014_1Q.csv,NaN
20,1/21/14,4171,6553536,5.429,"11,548,993",96701.0,32,5,1,./data-milestraveled2014_1Q.csv,NaN
21,1/22/14,2762,6556298,4.061,"11,553,054",96733.0,8,4,3,./data-milestraveled2014_1Q.csv,NaN
22,1/23/14,5743,6562041,8.336,"11,561,390",96741.0,16,9,1,./data-milestraveled2014_1Q.csv,NaN
23,1/24/14,6901,6568942,9.375,"11,570,765",96757.0,13,15,6,./data-milestraveled2014_1Q.csv,NaN
24,1/25/14,4716,6573658,6.004,"11,576,770",96770.0,14,34,0,./data-milestraveled2014_1Q.csv,NaN
25,1/26/14,5462,6579120,6.691,"11,583,461",96784.0,20,37,6,./data-milestraveled2014_1Q.csv,NaN
26,1/27/14,14304,6593424,18.127,"11,601,588",96804.0,26,55,18,./data-milestraveled2014_1Q.csv,NaN
27,1/28/14,11066,6604490,13.722,"11,615,310",96830.0,22,18,7,./data-milestraveled2014_1Q.csv,NaN
28,1/29/14,10838,6615328,13.394,"11,628,704",96852.0,33,21,6,./data-milestraveled2014_1Q.csv,NaN
29,1/30/14,13198,6628526,16.914,"11,645,618",96885.0,27,42,7,./data-milestraveled2014_1Q.csv,NaN
...,...,...,...,...,...,...,...,...,...,...,...
335,12/2/14,16961,14810960,22343.000,25483547,NaN,14,45,24,./data-milestraveled2014_4Q.csv,126970.0
336,12/3/14,15078,14826038,23083.000,25506630,NaN,8,65,6,./data-milestraveled2014_4Q.csv,126978.0
337,12/4/14,23442,14849480,33077.000,25539707,NaN,8,191,14,./data-milestraveled2014_4Q.csv,126986.0
338,12/5/14,17289,14866769,23200.000,25562908,NaN,6,153,12,./data-milestraveled2014_4Q.csv,126992.0
339,12/6/14,4487,14871256,5787.000,25568695,NaN,12,59,5,./data-milestraveled2014_4Q.csv,127004.0
340,12/7/14,11404,14882660,16007.000,25584702,NaN,8,254,13,./data-milestraveled2014_4Q.csv,127012.0
341,12/8/14,17015,14899675,21665.000,25606367,NaN,12,60,11,./data-milestraveled2014_4Q.csv,127024.0
342,12/9/14,7322,14906997,9458.000,25615825,NaN,7,18,4,./data-milestraveled2014_4Q.csv,127031.0
343,12/10/14,11476,14918473,14590.000,25630415,NaN,5,23,5,./data-milestraveled2014_4Q.csv,127036.0
344,12/11/14,19840,14938313,27417.000,25657832,NaN,5,144,19,./data-milestraveled2014_4Q.csv,127041.0
345,12/12/14,19393,14957706,25689.000,25683521,NaN,5,151,13,./data-milestraveled2014_4Q.csv,127046.0
346,12/13/14,13760,14971466,21276.000,25704797,NaN,4,324,20,./data-milestraveled2014_4Q.csv,127050.0
347,12/14/14,13255,14984721,19351.000,25724148,NaN,8,326,20,./data-milestraveled2014_4Q.csv,127058.0
348,12/15/14,21306,15006027,29232.000,25753380,NaN,7,186,25,./data-milestraveled2014_4Q.csv,127065.0
349,12/16/14,18653,15024680,25116.000,25778496,NaN,10,119,19,./data-milestraveled2014_4Q.csv,127075.0
350,12/17/14,22350,15047030,30878.000,25809373,NaN,10,186,18,./data-milestraveled2014_4Q.csv,127085.0
351,12/18/14,20679,15067709,27451.000,25836824,NaN,8,119,14,./data-milestraveled2014_4Q.csv,127093.0
352,12/19/14,18696,15086405,24828.000,25861652,NaN,11,158,14,./data-milestraveled2014_4Q.csv,127104.0
353,12/20/14,10628,15097033,13747.000,25875399,NaN,12,145,7,./data-milestraveled2014_4Q.csv,127116.0
354,12/21/14,9582,15106615,12740.000,25888139,NaN,10,170,9,./data-milestraveled2014_4Q.csv,127126.0
355,12/22/14,14849,15121464,20321.000,25908460,NaN,12,156,17,./data-milestraveled2014_4Q.csv,127138.0
356,12/23/14,10405,15131869,13946.000,25922406,NaN,8,68,9,./data-milestraveled2014_4Q.csv,127146.0
357,12/24/14,4716,15136585,6183.000,25928589,NaN,9,36,7,./data-milestraveled2014_4Q.csv,127155.0
358,12/25/14,5354,15141939,11023.000,25939612,NaN,10,\t456\t41,undefined,./data-milestraveled2014_4Q.csv,127165.0
359,12/26/14,10775,15152714,17715.000,25957327,NaN,18,464,63,./data-milestraveled2014_4Q.csv,127183.0
360,12/27/14,11128,15163842,21130.000,25978457,NaN,13\t741,58,undefined,./data-milestraveled2014_4Q.csv,127196.0
361,12/28/14,8719,15172561,12978.000,25991435,NaN,26,326,23,./data-milestraveled2014_4Q.csv,127222.0
362,12/29/14,14763,15187324,22499.000,26013934,NaN,22\t363,37,undefined,./data-milestraveled2014_4Q.csv,127244.0
363,12/30/14,13277,15200601,18112.000,26032046,NaN,14,214,31,./data-milestraveled2014_4Q.csv,127258.0
364,12/31/14,10450,15211051,14560.000,26046606,NaN,11,216,12,./data-milestraveled2014_4Q.csv,127269.0

In [35]:
df_2014.to_csv('./2014_milestraveled.csv', index=False)
df_2015.to_csv('./2015_milestraveled.csv', index=False)